.logo {
    font-size: 1.5em;
    display: block;
    padding: 5px;
}

* {
    font-family: Arial;
}

ul li a:hover {
    background-color: black;
}
.mirrors{
    /*display:none;*/
}
a img:hover{
        transform: scale(1.1); /* Standard syntax */
}
html{
    color:white;
    /*background:url(succ.jpg);*/
    background-color:#363535 ;
}
a {
    text-decoration: none;
    color: white;
}
iframe, object, embed{
display:block;
  margin:auto;
}
.back{
    padding:3px;

    font-size:1.3em;
}
button{
    padding:3px;
    font-weight: 700;

    font-size:1.2em;
}
/*.list{*/
/*    columns:3;*/
/*    width:100%;*/
/*}*/
ul{
      list-style-type: none;

}
.title{
    width:50%;
}